@use '../../styles/variables.scss';
@use '../../styles/mixins.scss';

.main {
  padding: 64px 11px 0px 11px;
  min-height: 330px;
}

.title {
  color: variables.$main-black;
  text-align: center;
  font-family: variables.$fontFamily;
  font-size: variables.$fontSize44;
  font-weight: variables.$fontWeight700;
}

.descr {
  color: variables.$main-black;
  text-align: center;
  font-family: variables.$fontFamily;
  font-size: variables.$fontSize20;
  font-weight: variables.$fontWeight500;
  margin-top: 8px;
}

.mainLink {
  width: 297px;
  height: 70px;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 12px;
  svg {
    width: 297px;
    height: 70px;
  }
}

@media (min-width: 375px) {
  .main {
    padding: 49px 39px 0px 39px;
    min-height: 404px;
  }

  .title {
    font-size: variables.$fontSize42;
  }

  .descr {
    margin-top: 21px;
  }

  .mainLink {
    margin-top: 33px;
   }

  .br {
    display: none;
  }
}

@media (min-width: 768px) {
  .main {
    padding: 49px 45px 0px 45px;
    min-height: 234px;
  }

  .title {
    font-size: variables.$fontSize48;
    font-weight: variables.$fontWeight400;
  }

  .descr {
    width: 638px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: variables.$fontSize24;
    font-weight: variables.$fontWeight300;
  }

  .br {
    display: none;
  }

  .mainLink {
    width: 297px;
    height: 70px;
    margin: 0 auto;
    svg {
      width: 297px;
      height: 70px;
    }
    margin-top: 45px;
   }
}

@media (min-width: 992px) {
  .mainLink {
    transition: variables.$transition;
    &:hover {
      transition: variables.$transition;
      transform: scale(105%);
    }
  }
}

@media (min-width: 1440px) {
  .main {
    padding: 89px 80px 0px 80px;
    min-height: 266px;
  }

  .title {
    font-size: variables.$fontSize68;
    font-weight: variables.$fontWeight400;

  }

  .descr {
   width: 683px;
   margin: 0 auto;
   margin-top: 14px;
  }

}
