$main-black: #292D32;
$main-red: #F35D5D;
$main-white: #FFF;
$looking: #0D152C;
$lookingDescr: rgba(13, 21, 44, 0.80);
$blackrgba: rgba(41, 45, 50, 0.80);
$placeholder: rgba(0, 0, 0, 0.40);
$overviewFormLabel: rgba(13, 21, 44, 0.70);
$backGround1: #71357C;
$backGround2: #95D0D5;
$backGround3: #FD7E50;
$backGround4: #F35D5D;
$fontFamily: 'Rubik';
$fontSize14: 14px;
$fontSize16: 16px;
$fontSize32: 32px;
$fontSize24: 24px;
$fontSize19: 19px;
$fontSize20: 20px;
$fontSize22: 22px;
$fontSize28: 28px;
$fontSize38: 38px;
$fontSize48: 48px;
$fontSize46: 46px;
$fontSize42: 42px;
$fontSize44: 44px;
$fontSize68: 68px;
$fontWeight700: 700;
$fontWeight600: 600;
$fontWeight400: 400;
$fontWeight300: 300;
$fontWeight500: 500;
$transition: 1s all;
$gamburgerTransition: 0.5s all;